{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
    <!-- Hero Section Begin -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            {% for c in categories %}
                            <li><a href="{% url 'GroceryApp:shop_grid' %}?category={{ c.title }}">{{c.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="{% url 'GroceryApp:shop_grid' %}?product={{ placeholder_value }}">
                                <!-- <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div> -->
                                <input type="text" name="product" placeholder="What do you need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{product.title}}</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'GroceryApp:Home' %}">Home</a>
                            <a href="{% url 'GroceryApp:shop_grid' %}?category={{ product.category_title }}">{{product.category_title}}</a>
                            <span>{{product.title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src = {{product.img.url}} alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            {% for img in imgs %}
                                <img data-imgbigurl="{{img.images.url}}" src="{{img.images.url}}" alt="">
                            {% endfor %}                
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{product.title}}</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price">${{product.price}}</div>
                        <p>SKU: {{product.sku}}</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" id="quantityInput" value="1">
                                </div>
                            </div>
                        </div>
                        
                        <form id="add-to-cart-form" method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" id="product-id" name="product_id" value="{{ product.id }}">
                            <input type="hidden" id="product-title" name="product_title" value="{{ product.title }}">
                            <input type="hidden" id="product-price" name="product_price" value="{{ product.price }}">
                            
                            <button type="button" class="primary-btn cart-btn cart-btn-right add-to-cart-btn" id="add-to-cart-button">
                                <span class="icon_loading" style="display: none;"></span> 
                                <span id="button-text">ADD TO CART</span>
                            </button>
                        </form>
                        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
                        <script src="{% static 'js/js.cookie.js' %}"></script>
                        <script>
                            document.getElementById('add-to-cart-button').addEventListener('click', function() {
                                var csrfToken = Cookies.get('csrftoken');
                                var quantity = document.getElementById('quantityInput').value;
                                var productId = document.getElementById('product-id').value;
                                var productTitle = document.getElementById('product-title').value;
                                var productPrice = document.getElementById('product-price').value;
                        
                                $.ajax({
                                    type: 'POST',
                                    url: '/add_to_cart/',
                                    data: {
                                        'id': productId,
                                        'qty': quantity,
                                        'title': productTitle,
                                        'price': productPrice,
                                        csrfmiddlewaretoken: csrfToken,  // Include CSRF token
                                    },
                                    success: function(data) {
                                        console.log("Added to cart successfully");
                                        // Redirect to the shopping cart page
                                        window.location.href = '/shopping_cart';
                                    },
                                    error: function(error) {
                                        console.error("Error adding to cart", error);
                                        // Handle errors here
                                    }
                                });
                            });
                        </script>
                        
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <ul>
                            <li><b>Availability</b> 
                                {% if product.in_stock %}
                                    <span style="color:green">In Stock</span>
                                {% else %} 
                                    <span style="color:red">Out of Stock</span>
                                {% endif %}"
                            <!-- <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li> -->
                            <!-- <li><b>Weight</b> <span>0.5 kg</span></li> -->
                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="https://www.facebook.com/sharer/sharer.php?u=" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(document.URL)); return false;"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/intent/tweet?url=" onclick="window.open('https://twitter.com/intent/tweet?url='+encodeURIComponent(document.URL)); return false;"><i class="fa fa-twitter"></i></a>
                                    <!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
                                    <a href="http://pinterest.com/pin/create/button/?url=" onclick="window.open('http://pinterest.com/pin/create/button/?url='+encodeURIComponent(document.URL)); return false;"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Description</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Information</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                    aria-selected="false">Reviews <span>(1)</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>About the Product</h6>
                                    <p>{{product.p_description}}</p>
                                </div>
                            </div>
                            <!-- <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                        Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                                        Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                                        sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                                        eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                                        sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                                        diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                                        ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                        Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                        Proin eget tortor risus.</p>
                                    <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
                                        ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
                                        elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
                                        porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
                                        nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
                                </div>
                            </div> -->
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                        Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                                        Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                                        sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                                        eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                                        sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                                        diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                                        ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                        Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                        Proin eget tortor risus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Related Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for p in related_products %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg={{p.img.url}}>
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="{% url 'GroceryApp:shop_details' %}?title={{ p.title }}">{{p.title}}</a></h6>
                            <h5>${{p.price}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Related Product Section End -->

{% endblock content %}
